<% layout("/layouts/header") %>
<body>
        <div class="bodybox">
            <div class="box">
                <div class="profbox1">
                    <div class="profback">
                        <img src="/images/123.webp" alt="image" height="150" width="100%">
                    </div>

                    <div class="profContent">
                        <!-- Profile Header -->
                        <div class="profile-header">
                            <!-- <img src="https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg" alt="Profile Picture"> -->
                            <% if(currUser) {%>
                            <img src="<%=profileInfo.profilePicture.url %>" alt="Profile Picture"  onerror="this.src='https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg';">
                            <% } %>
                        </div>
                        
                        <div style="width: 50%;">
                            <div class="profUser">
                                <%= owner[0].username %> 
                                <div id="self" style="display: none;"><%=currUser.username%></div>
                                <% if(! currUser._id.equals(owner[0]._id)) {%>
                                    
                                    <button class="follow-button" id="followBtn"  onclick="toggleRequested()">Follow</button>
                                 <% } %>
                                 <% if( currUser._id.equals(owner[0]._id)) {%>
                                 <a href="/accounts/edit"><button class="editProfile-button" >Edit Profile</button></a>
                                 <% } %>
                                 <div class="setting"><i class="fa-solid fa-gear"></i></div>
                            </div>
                           
                             <!-- Follow -->
                             <div class="showFollowers">
                                <div class="followName">Followers<i class="fa-solid fa-xmark"></i></div>
                                <hr>
                                <div style="overflow-y: scroll;max-height: 400px;">
                                <% for(let follow of profileInfo.followers) {%>
                                    <div class="followClass">
                                        <img src="https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg">
                                        <div style="flex: 1;"><%= follow %></div>
                                        <% if(currUser._id.equals(owner[0]._id)) {%>
                                            <button id="followRemove">Remove</button>
                                        <% }else if(follow!==currUser.username && !selfInfo.following.includes(follow) ) {%>
                                            <button class="follow-button" id="followBtn" style="background-color: #3897f0;"  onclick="toggleFollow()">Follow</button>
                                        <% }else if(follow!==currUser.username) {%>
                                            <button class="follow-button" id="followBtn" style="background-color: #474747;"  onclick="toggleFollow()">Following</button>
                                        <% } %>
                                        
                                    </div>
                                <% } %>
                                </div>
                             </div>
                             <div class="showFollowing">
                                <div class="followName">Following<i class="fa-solid fa-xmark"></i></div>
                                <hr>
                                <div style="overflow-y: scroll;max-height: 400px;">
                                <% for(let follow of profileInfo.following) {%>
                                    <div class="followClass">
                                        <img src="https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg">
                                        <div style="flex: 1;"><%= follow %></div>
                                        <% if(currUser._id.equals(owner[0]._id)) {%>
                                            <button id="followingRemove">Remove</button>
                                        <% }else if(follow!==currUser.username && !selfInfo.following.includes(follow) ) {%>
                                            <button class="follow-button" id="followBtn" style="background-color: #3897f0;"  onclick="toggleFollow()">Follow</button>
                                        <% }else if(follow!==currUser.username) {%>
                                            <button class="follow-button" id="followBtn" style="background-color: #474747;"  onclick="toggleFollow()">Following</button>
                                        <% } %>
                                    </div>
                                <% } %>
                                </div>
                             </div>
                            
                            <!-- Profile Statistics -->
                            <div class="profile-stats">
                                <div class="stat">
                                    <div class="stat-title">Posts</div>
                                    <div><%=listings.length%></div>
                                </div>
                                <div class="stat">
                                    <div class="stat-title">Followers</div>
                                    <div><%=profileInfo.followers.length%></div>
                                </div>
                                <div class="stat">
                                    <div class="stat-title">Following</div>
                                    <div><%=profileInfo.following.length%></div>
                                </div>
                            </div>
                        
                            <!-- Profile Bio -->
                            <div class="profile-bio">
                                <% if(profileInfo) {%>
                                <p><%=profileInfo.bio%></p>
                                <% } %>
                            </div>
                        </div>
                    </div>
                    <hr style="margin: 0%;">


                 
                    <% if(currUser && currUser._id.equals(owner[0]._id)) {%>
                    <div class="proftitle">
                        <span id="proftxt1">Create a Post</span>    
                        <button class="btn-open-popup" onclick="togglePopup()">create an Post</button>
                    </div>
                    <div id="popupOverlay" class="overlay-container"> 
                        <div class="popup-box"> 
                            <h2 style="color: green;">Upload Post</h2> 
                            <form class="form-container" method="post"  action="/profile" enctype="multipart/form-data"> 
                                <label class="form-label" for="description">Description</label> 
                                <input class="form-input" type="text" placeholder="Enter Img Description" id="description" name="listing[description]" required> 
                                <label class="form-label" for="img">Upload a Photo</label> 
                                <input class="form-input" type="file" id="img" name="listing[img]" required> 
                                <button class="btn-submit" type="submit">Submit</button> 
                            </form> 
                            <button class="btn-close-popup"onclick="togglePopup()">Close</button> 
                        </div>
                   </div>  
                   <% } %>


                   <!-- ////////////////////////// -->
                    <div class="profile-posts">
                        <div class="profile-post">
                            <img src="/images/img.jpeg" class="profileImg">
                        </div>
                        <% for(let listing of listings) {%>
                            
                            <a href="/<%=listing.owner.username%>/<%=listing._id%>">
                                <div class="profile-post">
                                    <div>
                                        <img class="profileImg" src=" <%=listing.img.url %>" alt="image" height="200" width="200">
                                    </div>
                                    <div class="info">
                                        <p ><i class="fa-regular fa-heart" style="font-weight: 600;"></i> <%=listing.img.likes.length %></p>
                                        <p ><i class="fa-regular fa-comment fa-rotate-270" style="font-weight: 600;"></i> <%=listing.img.comments.length %> </p>
                                    </div>
                                </div>
                            </a>
                        <% } %>                
                    </div>
                        <!-- ////////////////////////// -->
                    

                </div>
            </div>
        </div>

</body>
